/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for running Nextflow on the Sonic HPC with a slurm schedular
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Assumes HPC using Slurm schedular, through which all jobs will be submitted
    and run.
    NB. This is a generic config that works for the NeSI HPC and is not
    intended to work for every cluster, rather to serve as an example. Please
    refer to Nextflow documentation and github.com/nf-core/configs for more
    information and examples of how to configure Nextflow for your cluster.
----------------------------------------------------------------------------------------
*/

params {
  config_profile_description = 'NeSI HPC cluster profile'
  config_profile_contact     = 'Natalie Forsdick (GitHub: @natforsdick)'
  config_profile_url         = 'https://nesi.org.nz'
  max_cpus                   = 64
  max_time                   = '336.h'
}

executor {
    name            = 'slurm'
    queueSize       = 20
    maxRetries      = 2
    submitRateLimit = '10 sec'
}
