/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run kherronism/rewarewaannotation -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input = 'assets/test_full-samplesheet.csv'
    outdir = 'results-test_full'
    assembly = 'test-datasets/araThal/GCF_000001735.4_TAIR10.1_genomic.fna.gz'
    assembly_name = 'GCF_000001735'
    busco_lineages = 'eukaryota_odb10,embryophyta_odb10'
    extra_trimgalore_hardtrim_args = "--hardtrim3 100"
}
